@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fontFamily1: 'Playfair Display', serif;
    --fontFamily2: 'Roboto Flex', sans-serif;

    --color1: #262626;
    --color2: #b3b3b3;
    --color3: #f6f6f6;
    --color4: #707070;

}


/* BOTONES SLIDER ESTILO ///////////////////////*/

.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;

    width: 127px;
    height: 66px;

    background-color: var(--color3);
    cursor: pointer;

    font-size: 2rem;
    text-decoration: none;
    color: var(--color2);
}

.prev:hover,
.next:hover {
    background-color: var(--color1);
    color: var(--color3);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



header {


    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    font-family: Arial;
    color: black;
    flex-basis: 90%;
    font-weight: bold;

}

.logo img {
    width: 40px;
    height: auto;
    margin-left: 100px;
}


/* SECCIÓN 1 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.seccion1 {
    margin: 10px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textosec1 {
    align-items: center;
    justify-items: flex-end;
    padding: 15px;
    margin: auto;

}

.imagen1 {
    width: 950px;
    justify-content: center;
}

.contenedor1 {
    flex-basis: 40%;
    font-size: 55px;

}

.contenedor2 {
    font-family: Arial;
    flex-basis: 60%;
    border-left: 2px solid;
    padding: 20px;
}

.psec1b {
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    font-size: small;
}

.textosec1 {
    display: flex;
}



/* SECCIÓN 2 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.seccion2 {
    display: flex;
    justify-content: center;

    margin: 180px 0 0 0;
    width: 100%;
}

.contenedorSeccion2 {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    max-width: 1400px;
}

.chicaFoto {
    position: relative;
    display: flex;
    align-items: flex-end;

    text-decoration: none;
}

.chica {
    position: relative;
    vertical-align: bottom;

    min-width: 400px;
    max-width: 573px;
    max-height: 781px;
}

.prevChica {
    position: absolute;
    right: 0;
    bottom: 0;
}

.nextChica {
    position: absolute;
    right: -127px;
    bottom: 0;
}

.chicaTexto {
    margin: 182px 0 0 63px;
    max-width: 535px;
    padding: 0 40px 0 0;

    text-align: start;
}

.chicaTextoH2 {
    font-family: var(--fontFamily1);
    font-size: 2.9rem;
    line-height: 3.75rem;
    color: var(--color1);
}

.chicaTextoP {
    margin: 30px 0 0 0;
    max-width: 900px;

    font-family: var(--fontFamily2);
    font-size: 1.1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: -0.03rem;
    text-align: left;
    color: var(--color2);
}

.comillas {
    margin: 50px 0 0 0;
    border-radius: 50%;
    padding: 0.6rem;

    background-color: var(--color1);

    font-size: .7rem;
    text-align: center;
    color: var(--color3);
}



.chicaTextoP2 {
    margin: 16px 0 0 0;
    max-width: 700px;

    font-family: var(--fontFamily2);
    font-size: 1.2rem;
    line-height: 1.75rem;
    font-weight: 500;
    font-style: italic;
    color: var(--color1);
}

.chicaTextoInv {
    height: 100px;
}

/* SECCIÓN 3 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.seccion3 {
    margin: 180px 0 0 0;
    width: 100%;
}

.seec {
    display: flex;
    justify-content: center;

    margin: 0 63px;
}

/* COLUMNA IZQUIERDA */

.contenedorCafe {
    display: flex;
    flex-direction: column;

    padding: 8px 0 0 0;
}

.cafeTexto {
    display: flex;
    flex-direction: column;

    margin: 0 90px 0 0;
    max-width: 500px;

    text-align: left;
}

.cafeTextoH2 {
    font-family: var(--fontFamily1);
    font-size: 2.9rem;
    line-height: 3.75rem;
    color: var(--color1);
}

.cafeTextoP {
    margin: 25px 0 0 0;
    max-width: 700px;

    font-family: var(--fontFamily2);
    font-size: 1.2rem;
    line-height: 1.9rem;
    font-weight: 500;
    font-style: italic;
    color: var(--color2);
}

.cafeTextoA {
    position: relative;

    display: inline-block;

    margin: 40px 0 0 0;

    font-family: var(--fontFamily2);
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color1);
}

.cafeFoto {
    margin: 48px 0 0 0;
}

.cafe {
    position: relative;

    width: 100%;
    max-width: 605px;
    min-width: 500px;
}


/* COLUMNA DERECHA */

.contenedorMostrador {
    display: flex;
    flex-direction: column;

    margin: 22px 0 0 0;
}

.mostradorFoto {
    position: relative;

    width: 448px;
    height: 570px;
}

.mostrador {
    position: absolute;
    left: -58px;

    max-width: 505px;

    z-index: -1;
}

.mostradorTexto {
    max-width: 335px;
    padding: 70px 70px 0 103px;

    text-align: left;
}

.mostradorTextoH3 {
    font-family: var(--fontFamily2);
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--color1);
}

.mostradorTextoP {
    margin: 25px 0 0 0;

    font-family: var(--fontFamily2);
    font-size: 1.2rem;
    line-height: 2.1rem;
    font-weight: 500;
    letter-spacing: -0.03rem;
    color: var(--color2);
}

.mostradorTextoA {
    position: relative;
    display: inline-block;

    margin: 40px 0 0 0;

    font-family: var(--fontFamily2);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color1);
}


/* SECCIÓN 4, SECCIÓN 5 Y FOOTER///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* FOOTER */
.contenedor {
    justify-content: space-between;
    color: black;
    display: flex;
    width: 50%;
    padding: 100px;
    margin: 300px;
    margin-top: 80px;
    margin-bottom: 5px;

}

.imgenrique {
    height: 200px;
    margin: 10px;
    box-shadow: -25px -25px 0px #232222;
    height: 200px;
}

.imgfooter {
    margin-left: 250px;
    display: flex;

}

.tituloenrique {
    display: grid;
    height: 120px;
    justify-content: space-between;
    margin-top: 20px;

}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    width: 500px;
    display: flex;
    height: 50px;
    margin: 25px;
    margin-bottom: 2px;
    margin-top: 25px;

}

.subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    display: flex;
    font-size: 25px;
    margin: 25px;
    margin-top: 10px;
    width: 500px;
    height: 50px;
}

.logos {
    display: flex;
    margin: 5px;
    height: 135px;
}

.google {

    margin-left: 0px;
    margin-top: 7px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.google img {
    width: 55px;
}

.twitter {

    margin-left: 0px;
    margin-top: 9px;
    width: 40px;
    height: 40px;
    padding: 4px;
}

.twitter img {

    width: 35px;
}

.facebook {

    margin-top: 7px;
    margin-left: 20px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.facebook img {

    width: 40px;
}

.lorem {

    margin: 350px;
    margin-left: 400px;
    margin-top: 2px;
    width: 50%;
    height: 20%;
    font-family: 'Roboto', sans-serif;
    color: #b3b3b3;
    text-align: center;
    word-spacing: 0px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 38px;
    margin-bottom: 60px;

}

.seccion-uno {

    margin-top: 250px;
    display: flex;
    height: 400px;
    flex-direction: column;
    width: 750px;
    margin-left: 350px;


}

.titulouno {

    display: flex;
    font-family: 'Playfair Display', serif;
    color: #262626;
    text-align: left;
    word-spacing: 0px;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 38px;
    flex-direction: column;
}

.subtitulouno {

    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #b3b3b3;
    text-align: left;
    word-spacing: 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 38px;
    flex-direction: column;
}

.botones-dos {

    width: 200px;
    height: 200px;
    margin-right: 90px;
    margin-left: 0px;
    position: relative;
}

.boton-izq {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #f6f6f6;
    width: 145px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.flecha-izquierda {
    font-size: 40px;
    font-weight: lighter;
    color: #d4d4d4;
}

.boton-der {
    position: absolute;
    bottom: 0px;
    right: -145px;
    background-color: #262626;
    width: 145px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.flecha-derecha {
    font-size: 40px;
    font-weight: lighter;
    color: #f6f6f6;
}


.seccion-dos {

    flex-direction: column;
    display: flex;
    width: 750px;
    height: 450px;
    margin-top: -400px;
    margin-left: 1050px;
}

.img6 {
    display: flex;
    flex-direction: row;
    width: 170px;
    height: 170px;
}

.titulodos {

    width: 530px;
    height: 70px;
    margin-left: 220px;
    margin-top: -170px;
    margin-bottom: 60px;

    flex-direction: row;
    display: flex;
    font-family: 'Playfair Display', serif;
    color: #262626;
    text-align: left;
    word-spacing: 0px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 38px;
    flex-direction: column;

}

.subtitulodos {

    width: 530px;
    height: 70px;
    margin-left: 220px;


    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #b3b3b3;
    text-align: left;
    word-spacing: 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 38px;
    flex-direction: column;
    margin-top: -45px;
}


.img7 {
    display: flex;
    flex-direction: row;
    width: 170px;
    height: 170px;
    margin-top: 50px;
}

.titulotres {

    width: 530px;
    height: 70px;
    margin-left: 220px;
    margin-top: -170px;
    margin-bottom: 60px;

    flex-direction: row;
    display: flex;
    font-family: 'Playfair Display', serif;
    color: #262626;
    text-align: left;
    word-spacing: 0px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 38px;
    flex-direction: column;

}

.subtitulotres {

    width: 530px;
    height: 70px;
    margin-left: 220px;


    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #b3b3b3;
    text-align: left;
    word-spacing: 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 38px;
    flex-direction: column;
    margin-top: -45px;
}

.pie-de-pagina {
    display: flex;
    background-color: #232222;
    height: 300px;
    width: 1550px;
    margin-top: 200px;
}


.texto-pie-de-pagina {
    display: flex;
    color: white;
    font-size: 40px;
    margin-left: 170px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
    margin-left: 30px;

}

.load {
    display: flex;

    margin-left: 150px;
    height: 50px;
    width: 50px;
    margin-top: 90px;
}


.home {

    margin-top: 100px;
    margin-left: 155px;
    margin-right: 85px;


}

.home a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.about {

    margin-top: 25px;
    margin-left: 155px;
    margin-right: 85px;

}

.about a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.contact {

    margin-top: 25px;
    margin-left: 155px;
    margin-right: 85px;
    margin-bottom: 100px;


}

.contact a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.columna-cuatro h2 {
    color: #7a7a7a;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: -2px;
}

.email {
    width: 170px;
    height: 35px;
    margin-left: 100px;
    position: absolute;

    border: none;
    cursor: pointer;
}

.emails {
    width: 200px;
    height: 50px;
    background-color: #3d3d3d;
    border-color: black;
    border: 5px;
}

.ejemplo {
    position: absolute;
    top: 70%;
    left: 15px;
    transform: translateY(-50%);
    color: #7a7a7a;
    font-size: 19px;
    pointer-events: none;
}

.boton-send {
    display: flex;
    margin-left: 310px;
    width: 90px;
    height: 50px;
    background-color: green;

}

.send {
    width: 150px;
    height: 50px;
    background-color: #3d3d3d;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;


}

.logos-footer i {

    color: white;
    margin-left: 105px;
    margin-top: 15px;
    margin-right: -75px;
}

.fa-brands fa-facebook-f {
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;

}



@media (min-width:320px) and (max-width:480px) {
    /* BOTONES SLIDER ESTILO ///////////////////////*/

    .prev,
    .next {
        opacity: 0.7;

        width: 30px;
        height: 40px;

        font-size: 1rem;
    }

    .prev:hover,
    .next:hover {
        opacity: 1;
    }

    /* HEADER ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




    /* SECCIÓN 1 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




    /* SECCIÓN 2 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .seccion2 {
        margin: 50px 0 0 0;
    }

    .contenedorSeccion2 {
        justify-content: none;
        flex-direction: column-reverse;
        align-items: center;

        width: 100%;
        max-width: 480px;
    }

    .chicaFoto {
        width: 100%;
        height: 250px;

        background-image: url(./images/chicaf.jpg);
        background-position: 50% 30%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .chica {
        display: none;
    }

    .prevChica {
        top: 50%;
        right: none;
        bottom: 50%;
        left: 0;
    }

    .nextChica {
        top: 50%;
        right: 0;
        bottom: 50%;
    }

    .chicaTexto {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 30px 25px 0 25px;
        width: 100%;
        max-width: 600px;
        padding: 0 0 0 0;

        text-align: justify;
    }

    .chicaTextoH2 {
        margin: 0 30px;

        font-size: 2.2rem;
        line-height: 3rem;
        text-align: left;
    }

    .chicaTextoP {
        margin: 30px 25px 0 25px;
        max-width: 480px;

        text-align: justify;
    }

    .comillas {
        margin: 50px 0 0 20px;
        border-radius: 50%;
    }

    .chicaTextoP2 {
        margin: 16px 25px 0 25px
    }

    .chicaTextoInv {
        height: 50px;
    }

    /* SECCIÓN 3 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .seccion3 {
        margin: 50px 0 0 0;
    }

    .seec {
        flex-direction: column;

        margin: 0;
    }

    /* COLUMNA IZQUIERDA */

    .contenedorCafe {}

    .cafeTexto {
        margin: 0;
        max-width: none;

        text-align: center;
    }

    .cafeTextoH2 {
        margin: 0 30px;

        font-size: 2.2rem;
        line-height: 3rem;
        text-align: left;
    }

    .cafeTextoP {
        margin: 25px 25px 0 25px;
        max-width: none;

        text-align: justify;
    }

    .cafeTextoA {
        margin: 40px 25px 0 25px;

        font-size: 1rem;
        text-align: right;
    }

    .cafeFoto {
        margin: 48px 0 0 0;

        background-image: url(./images/cafe2.jpg);
        width: 100%;
        height: 250px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cafe {
        display: none;
    }


    /* COLUMNA DERECHA */

    .contenedorMostrador {
        flex-direction: column-reverse;

        margin: 50px 0 0 0;
    }

    .mostradorFoto {
        margin: 50px 0 0 0;
        width: 100%;
        height: 250px;

        background-image: url(./images/mostrador.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mostrador {
        display: none;
    }

    .mostradorTexto {
        max-width: none;
        margin: 0;
        padding: 0;

        text-align: none;
    }

    .mostradorTextoH3 {
        font-size: 1.60rem;
        text-align: center;
    }

    .mostradorTextoP {
        margin: 25px 25px 0 25px;

        text-align: justify;
    }

    .mostradorTextoA {
        display: flex;
        justify-content: end;

        margin: 40px 25px 0 25px;

        font-size: 1rem;
        text-align: right;
    }


    /* SECCIÓN 4, SECCIÓN 5 Y FOOTER ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


    .contenedor {

        display: flex;
        justify-content: space-between;
        color: black;
        width: 600px;
        padding: 50px;
        margin-top: 80px;
        margin-bottom: 5px;
    }

    .imgenrique {
        margin-top: 15px;
        margin-left: 20px;
        margin: 10px;
        box-shadow: -25px -25px 0px #232222;
        height: 150px;
    }

    .imgfooter {
        display: flex;
        height: 200px;
        height: 200px;
        margin-left: 100px;
    }

    .tituloenrique {
        display: grid;
        height: 120px;
        justify-content: space-between;
        margin-top: 0px;

    }

    .titulo {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        width: 500px;
        display: flex;
        height: 50px;
        margin: 25px;
        margin-bottom: 2px;
        margin-top: 25px;

    }

    .lorem {
        display: flex;
        margin: 350px;
        margin-left: 600px;
        margin-top: 55px;
        width: 50%;
        height: 20%;
        font-family: 'Roboto', sans-serif;
        color: #b3b3b3;
        text-align: center;
        word-spacing: 0px;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 38px;
        margin-bottom: 60px;

    }

    .seccion-uno {

        margin-top: 250px;
        display: flex;
        height: 550px;
        flex-direction: column;
        width: 590px;
        margin-left: 370px;


    }

    .seccion-dos {

        flex-direction: column;
        display: block;
        width: 750px;
        height: 450px;
        margin-top: 100px;
        margin-left: 370px;
    }


    .titulouno {

        display: flex;
        font-family: 'Playfair Display', serif;
        color: #262626;
        text-align: left;
        word-spacing: 0px;
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 0px;
        line-height: 38px;
        flex-direction: column;
    }

    .subtitulouno {

        display: flex;
        font-family: 'Roboto', sans-serif;
        color: #b3b3b3;
        text-align: left;
        word-spacing: 0px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0px;
        line-height: 38px;
        flex-direction: column;
    }

    .botones-dos {

        width: 150px;
        height: 150px;
        margin-right: 90px;
        margin-left: 0px;
        position: relative;
    }

    .boton-izq {
        position: absolute;
        bottom: 0px;
        right: 0px;
        background-color: #f6f6f6;
        width: 145px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .flecha-izquierda {
        font-size: 40px;
        font-weight: lighter;
        color: #d4d4d4;
    }

    .boton-der {
        position: absolute;
        bottom: 0px;
        right: -145px;
        background-color: #262626;
        width: 145px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

    }

    .flecha-derecha {
        font-size: 40px;
        font-weight: lighter;
        color: #f6f6f6;
    }



    .img6 {
        display: block;
        flex-direction: row;
        width: 140px;
        height: 140px;
    }

    .titulodos {

        width: 330px;
        height: 30px;
        margin-left: 170px;
        margin-top: -150px;
        margin-bottom: 150px;

        flex-direction: row;
        display: flex;
        font-family: 'Playfair Display', serif;
        color: #262626;
        text-align: left;
        word-spacing: 0px;
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 0px;
        line-height: 38px;
        flex-direction: column;

    }

    .subtitulodos {

        width: 330px;
        height: 30px;
        margin-left: 170px;


        display: flex;
        font-family: 'Roboto', sans-serif;
        color: #b3b3b3;
        text-align: left;
        word-spacing: 0px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0px;
        line-height: 38px;
        flex-direction: column;
        margin-top: -45px;
    }


    .img7 {
        display: flex;
        flex-direction: row;
        width: 140px;
        height: 140px;
        margin-top: 150px;
    }

    .titulotres {

        width: 330px;
        height: 30px;
        margin-left: 170px;
        margin-top: -140px;
        margin-bottom: 60px;

        flex-direction: row;
        display: flex;
        font-family: 'Playfair Display', serif;
        color: #262626;
        text-align: left;
        word-spacing: 0px;
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 0px;
        line-height: 38px;
        flex-direction: column;

    }

    .subtitulotres {

        width: 330px;
        height: 30px;
        margin-left: 170px;


        display: flex;
        font-family: 'Roboto', sans-serif;
        color: #b3b3b3;
        text-align: left;
        word-spacing: 0px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0px;
        line-height: 38px;
        flex-direction: column;
        margin-top: 100px;
    }



    .pie-de-pagina {
        display: flex;
        background-color: #232222;
        height: 190px;
        width: 600px;
        margin-top: 200px;
        margin-left: 350px;
    }

    .texto-pie-de-pagina {
        font-size: 25px;
        margin-top: 20px;
    }

    .load {
        display: flex;
        margin-left: 15px;
        height: 25px;
        width: 25px;
        margin-top: 50px;
    }


    .home {

        margin-top: 40px;
        margin-left: 30px;
        margin-right: 35px;
    }

    .home a {
        font-size: 10px;
    }



    .about {

        margin-top: 25px;
        margin-left: 30px;
        margin-right: 35px;

    }

    .about a {

        font-size: 10px;
    }

    .contact {

        margin-top: 25px;
        margin-left: 30px;
        margin-right: 35px;
        margin-bottom: 100px;
    }

    .contact a {
        font-size: 10px;
    }

    .columna-cuatro h2 {
        color: #7a7a7a;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: -2px;
    }

    .emails {
        width: 140px;
        height: 25px;
    }

    .email {
        width: 50px;
        height: 15px;
        margin-left: 10px;
        position: absolute;
        border: none;
        cursor: pointer;
    }

    .ejemplo {
        font-size: 10px;
        margin-top: 2px;
    }


    .boton-send {
        display: flex;
        margin-left: 155px;
        width: 45px;
        height: 10px;


    }

    .send {
        width: 150px;
        height: 25px;
        background-color: #3d3d3d;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8px;
        color: white;
        font-weight: bold;


    }

    .logos-footer i {

        color: white;
        margin-left: 70px;
        margin-top: 25px;
        margin-right: -55px;
    }

}


    @media (min-width:481px) and (max-width:768px) {

        /* BOTONES SLIDER ESTILO ///////////////////////*/

        .prev,
        .next {
            display: flex;
            align-items: center;
            justify-content: center;

            opacity: 0.7;

            transition: all 0.3s;

            width: 30px;
            height: 40px;

            background-color: var(--color3);
            cursor: pointer;

            font-size: 1rem;
            text-decoration: none;
            color: var(--color2);
        }

        .prev:hover,
        .next:hover {
            opacity: 1;

            background-color: var(--color1);
            color: var(--color3);
        }

        /* HEADER ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



        /* SECCIÓN 1 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




        /* SECCIÓN 2 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

        .seccion2 {
            margin: 50px 0 0 0;
        }

        .contenedorSeccion2 {
            flex-direction: column-reverse;
            align-items: center;

            max-width: 768;
        }

        .chicaFoto {
            width: 100%;
            height: 300px;

            background-image: url(./images/chicaf.jpg);
            background-position: 50% 30%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .chica {
            display: none;
        }

        .prevChica {
            top: 50%;
            bottom: 50%;
            left: 0;
        }

        .nextChica {
            top: 50%;
            right: 0;
            bottom: 50%;
        }

        .chicaTexto {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin: 30px 0 0 0;
            width: 100%;
            max-width: 600px;
            padding: 0 0 0 0;

            text-align: justify;
        }

        .chicaTextoH2 {
            text-align: center;

            font-size: 2.5rem;
        }

        .chicaTextoP {
            margin: 30px 63px 0 63px;
            max-width: none;

            text-align: justify;
        }

        .comillas {
            margin: 50px 0 0 20px;
        }

        .cafeTextoH2 {}

        .chicaTextoP2 {
            margin: 16px 63px 0 63px;
        }

        .chicaTextoInv {}

        /* SECCIÓN 3 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

        .seccion3 {
            margin: 50px 0 0 0;
        }

        .seec {
            flex-direction: column;
            justify-content: center;

            margin: 0;
        }

        /* COLUMNA IZQUIERDA */

        .contenedorCafe {}

        .cafeTexto {
            margin: 0 63px;
            max-width: none;

            text-align: center;
        }

        .cafeTextoH2 {}

        .cafeTextoP {
            max-width: none;

            text-align: justify;
        }

        .cafeTextoA {
            text-align: right;
        }

        .cafeFoto {
            width: 100%;
            height: 300px;

            background-image: url(./images/cafe2.jpg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .cafe {
            display: none;
        }


        /* COLUMNA DERECHA */

        .contenedorMostrador {
            flex-direction: column-reverse;

            margin: 50px 0 0 0;
        }

        .mostradorFoto {
            margin: 50px 0 0 0;
            width: 100%;
            height: 300px;

            background-image: url(./images/mostrador.jpg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .mostrador {
            display: none;
        }

        .mostradorTexto {
            margin: 0 63px;
            max-width: none;
            padding: 0;

            text-align: none;
        }

        .mostradorTextoH3 {
            text-align: center;
        }

        .mostradorTextoP {
            text-align: center;
        }

        .mostradorTextoA {
            display: flex;
            justify-content: end;

            text-align: right;
        }


        /* SECCIÓN 4, SECCION 5 Y FOOTER ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


        h2 {
            color: #262626;
            font-family: 'Playfair Display', serif;
            font-size: 64px;
            line-height: 80px;
            margin-bottom: 35px;
            width: 85%;

        }



        .contenedor {

            display: flex;
            justify-content: space-between;
            color: black;
            display: flex;
            width: 50%;
            padding: 100px;
            margin: 25px;
            margin-top: 80px;
            margin-bottom: 5px;
        }

        .imgenrique {
            margin-top: 0px;
            margin-left: -85px;
            box-shadow: -25px -25px 0px #232222;
            height: 200px;
        }

        .imgfooter {
            display: flex;
            height: 200px;
            height: 200px;
            margin-left: 100px;
        }

        .tituloenrique {
            display: grid;
            height: 120px;
            justify-content: space-between;
            margin-top: 20px;

        }

        .titulo {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 35px;
            width: 500px;
            display: flex;
            height: 50px;
            margin: 25px;
            margin-bottom: 2px;
            margin-top: 25px;

        }


        .lorem {
            display: flex;
            margin: 350px;
            margin-left: 250px;
            margin-top: 55px;
            width: 50%;
            height: 20%;
            font-family: 'Roboto', sans-serif;
            color: #b3b3b3;
            text-align: center;
            word-spacing: 0px;
            font-size: 22px;
            font-weight: 400;
            letter-spacing: 0px;
            line-height: 38px;
            margin-bottom: 60px;

        }

        .seccion-uno {

            margin-top: 150px;
            display: flex;
            height: 450px;
            flex-direction: column;
            width: 750px;
            margin-left: 40px;


        }

        .seccion-dos {

            flex-direction: column;
            display: block;
            width: 750px;
            height: 450px;
            margin-top: 100px;
            margin-left: 40px;
        }

        .pie-de-pagina {
            display: flex;
            background-color: #232222;
            height: 200px;
            width: 700px;
            margin-top: 200px;
            margin-left: 40px;
        }

        .load {
            display: flex;
            margin-left: 15px;
            height: 25px;
            width: 25px;
            margin-top: 50px;
        }

        .texto-pie-de-pagina {
            font-size: 25px;
            margin-top: 20px;
        }

        .home {

            margin-top: 45px;
            margin-left: 25px;
            margin-right: 0px;



        }



        .about {

            margin-top: 25px;
            margin-left: 25px;
            margin-right: 25px;

        }

        .contact {
            font-size: 10px;
            margin-top: 25px;
            margin-left: 25px;
            margin-right: 25px;
            margin-bottom: 25px;


        }

        .columna-cuatro h2 {
            color: #7a7a7a;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            margin-left: 10px;
            margin-top: 15px;
            margin-bottom: -2px;
        }

        .email {
            width: 80px;
            height: 35px;
            margin-left: 9px;
            position: absolute;
            border: none;
            cursor: pointer;
        }


        .boton-send {
            display: flex;
            margin-left: 210px;
            width: 60px;
            height: 45px;


        }

        .send {
            width: 150px;
            height: 50px;
            background-color: #3d3d3d;
            border: none;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-weight: bold;


        }

        .logos-footer {
            margin-left: -90px;
        }

    }